views/index.html
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="WtlC2wC-QK9wJ5_UhK4CRPyc6KMNToFS6zXsM0jl5As" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wedding Invitation - Raj weds Payal</title>
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animated.css" rel="stylesheet">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">

</head>

<body class="site">
    <div id="load"></div>

    <section class="banner_section" id="home">
        <div class="overlay"></div>
        <div class="container h-100vh d-flex">
            <div class="row align-items-center w-100">
                <div class="col-12 col-sm-6">
                    <div class="content_part text-center wow fadeInUp">
                        <h1 class="great_vibes">Save The Date</h1>
                        <p class="banner_date algerian">16<span></span>02<span></span>2020</p>
                        <div class="text pt-2 pb-2">
                            <img src="images/w_line.png" alt="" class="img-fluid">We Are Getting Married<img src="images/w_line.png" alt="" class="img-fluid">
                        </div>
                        <p class="groom_bride">Raj <span><img src="images/heart_w.png" alt="" class="img-fluid"></span> Payal</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <nav class="navbar navbar-expand-md  sticky-top wow fadeInUp" id="mainNav">
        <!-- Brand -->
        <a class="navbar-brand great_vibes" href="#">Perfact Couple</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about_us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#event">Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#our_story">Our Story</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#gallery">Gallery</a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="intro_sec padding-top-50 padding-bottom-50" id="about_us">
        <div class="container">
            <div class="sec_heading text-center wow fadeInUp">
                <h2>Hello !</h2>
                <p>We invited you to celebrate our wedding</p>
                <div class="heart_line d-flex justify-content-center"><span class="line1 align-self-center"></span><img src="images/heart_p.png" alt="" class="img-fluid align-self-center"><span class="line2 align-self-center"></span></div>
            </div>
            <div class="couple_wrap position-relative wow fadeInUp">
                <div class="heart"><img src="images/heart.png" alt="" class="img-fluid"></div>
                <div class="row">
                    <div class="col-md-6 col-12 pr-0">
                        <div class="content bride">
                            <div class="couple_img d-block d-md-none"><img src="images/payal.png" class="rounded-circle" alt=""></div>
                            <div class="couple_desc">
                                <p class="name great_vibes">Payal Baraiya</p>
                                <p class="designation">Web Designer</p>
                                <p class="study">B.E. (CSE)</p>
                            </div>
                            <div class="couple_img d-none d-md-inline-block"><img src="images/payal.png" class="rounded-circle" alt=""></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 pl-0">
                        <div class="content groom">
                            <div class="couple_img "><img src="images/raj.png" class="rounded-circle" alt=""></div>
                            <div class="couple_desc">
                                <p class="name great_vibes">Raj Hirani</p>
                                <p class="designation">Software Developer</p>
                                <p class="study">B.E. (CSE)</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="event_sec padding-top-50 padding-bottom-50" id="event">
        <div class="bg_img padding-top-50 padding-bottom-50">
            <div class="overlay"></div>
            <div class="content_part position-relative">
                <div class="container">
                    <div class="sec_heading text-center wow fadeInUp">
                        <h2 class="white-text">Wedding Events</h2>
                        <p>We invited you to celebrate our wedding</p>
                        <div class="heart_line d-flex justify-content-center"><span class="line1 align-self-center"></span><img src="images/heart_p.png" alt="" class="img-fluid align-self-center"><span class="line2 align-self-center"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <div class="card event_card h-100 wow fadeInUp">
                                <div class="card-header h-100">Welcome Marriage Ceremony</div>
                                <div class="card-body">
                                    <div class="date_time">
                                        <div class="time mb-3">
                                            <div class="icon"><img src="images/watch.png" alt="" class="img-fluid"></div> <span>4:00 PM to 6:00 PM</span></div>
                                        <div class="date mb-3">
                                            <div class="icon"><img src="images/calendar.png" alt="" class="img-fluid"></div> <span>15<sup>th</sup> Feb 2020</span></div>
                                    </div>
                                    <p class="text-center">The Day before Marriage, will bring all together on special events of Baraiya Family.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="card event_card h-100 wow fadeInUp">
                                <div class="card-header h-100">Celebrate Dandiya Night</div>
                                <div class="card-body">
                                    <div class="date_time">
                                        <div class="time mb-3">
                                            <div class="icon"><img src="images/watch.png" alt="" class="img-fluid"></div> <span>8:00 AM to 11:00 PM</span></div>
                                        <div class="date mb-3">
                                            <div class="icon"><img src="images/calendar.png" alt="" class="img-fluid"></div> <span>15<sup>th</sup> Feb 2020</span></div>
                                    </div>
                                    <p class="text-center">The Day before Marriage, will bring all together on special events of Baraiya Family.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="card event_card h-100 wow fadeInUp">
                                <div class="card-header h-100">Wedding Ceremony</div>
                                <div class="card-body">
                                    <div class="date_time">
                                        <div class="time mb-3">
                                            <div class="icon"><img src="images/watch.png" alt="" class="img-fluid"></div> <span>7:00 AM to 2:00 PM</span></div>
                                        <div class="date mb-3">
                                            <div class="icon"><img src="images/calendar.png" alt="" class="img-fluid"></div> <span>16<sup>th</sup> Feb 2020</span></div>
                                    </div>
                                    <p class="text-center">The Day it self will bring all together on special events of Baraiya & Hirani Family.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="our_story_sec padding-bottom-50 padding-top-50" id="our_story">
        <div class="container">
            <div class="sec_heading text-center wow fadeInUp">
                <h2>Our Story</h2>
                <p>We love each other, Welcome to our beginning </p>
                <div class="heart_line d-flex justify-content-center"><span class="line1 align-self-center"></span><img src="images/heart_p.png" alt="" class="img-fluid align-self-center"><span class="line2 align-self-center"></span></div>
            </div>
            <div class="row">
                <div class="col-md-12  col-12">
                    <ul class="timeline animate-box fadeInUp animated-fast wow">
                        <li class="animate-box fadeInUp animated-fast">
                            <div class="timeline-badge" style="background-image:url(images/1-1.jpg);"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">First We Meet</h3>
                                    <span class="date"><a href="https://api.whatsapp.com/send?phone=919429412481&text=I%27m%20interested%20in%20How%20you%20both%20met">To Know the date</a></span>
                                </div>
                                <div class="timeline-body">
                                    <p>We remember that first moment we met. The first time we laid eyes on each other. It did not make any sense. It was not love at first sight exactly, but familiarity. But then when things happen with us again and again,
                                        for us, it is all that makes sense...'Out First Meeting'... Nothing else!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted animate-box fadeInUp animated-fast wow">
                            <div class="timeline-badge" style="background-image:url(images/1-2.jpg);"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">First Date</h3>
                                    <span class="date"><a href="https://api.whatsapp.com/send?phone=919429412481&text=I%27m%20interested%20in%20your%20first%20Date">To Know the date</a></span>
                                </div>
                                <div class="timeline-body">
                                    <p>The first day we met, I knew something amazing was about to happen... and it turned into a once in a lifetime kind of love... I feel so blessed to have found you to be part of my journey in this crazy thing called life...
                                        You're the one I want to start each and every day with, you make my world a more magical place...</p>
                                </div>
                            </div>
                        </li>
                        <li class="animate-box fadeInUp animated-fast wow">
                            <div class="timeline-badge" style="background-image:url(images/1-3.png);"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">In A Relationship</h3>
                                    <span class="date">Augest 17, 2019</span>
                                </div>
                                <div class="timeline-body">
                                    <p>I can`t believe this is real life! What a dream come true.On Sunday Augest 17th, She asked me to spend the rest of my life with her + made me the happiest boy on the planet! We are in relationship!</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="memories_sec padding-bottom-50 padding-top-50 " id="gallery">
        <div class="bg_light padding-top-50 padding-bottom-50">
            <div class="container">
                <div class="sec_heading text-center wow fadeInUp">
                    <h2>Our Memories</h2>
                    <p>Enjoy our sweet & happy moments</p>
                    <div class="heart_line d-flex justify-content-center"><span class="line1 align-self-center"></span><img src="images/heart_p.png" alt="" class="img-fluid align-self-center"><span class="line2 align-self-center"></span></div>
                </div>
                <div class="row wow fadeInUp">
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="img_block">
                            <div class="bg_img" style="background-image: url(images/1.jpg);">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="img_block">
                            <div class="bg_img" style="background-image: url(images/2.jpg);">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="img_block">
                            <div class="bg_img" style="background-image: url(images/3.jpg);">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="img_block">
                            <div class="bg_img" style="background-image: url(images/4.jpg);">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="img_block">
                            <div class="bg_img" style="background-image: url(images/5.jpg);">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="img_block">
                            <div class="bg_img" style="background-image: url(images/6.jpg);">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="img_block">
                            <div class="bg_img" style="background-image: url(images/7.jpg);">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="img_block">
                            <div class="bg_img" style="background-image: url(images/8.jpg);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="family_wish padding-bottom-50 padding-top-50">
        <div class="container">
            <div class="sec_heading text-center wow fadeInUp">
                <h2>Family Wishes</h2>
                <p>Best Wishes</p>
                <div class="heart_line d-flex justify-content-center"><span class="line1 align-self-center"></span><img src="images/heart_p.png" alt="" class="img-fluid align-self-center"><span class="line2 align-self-center"></span></div>
            </div>
            <div class="row wow fadeInUp">
                <div class="col-md-10 mx-auto">
                    <div class="slider text-center ">
                        <div class="owl-carousel owl-theme wow fadeInUp">
                            <div class="item">
                                <div class="slider_content">
                                    <div class="icon" style="background-image: url(images/mummy.png);"></div>
                                    <p class="person_name">Jayshreeben Baraiya</p>
                                    <p>Daughter, I feel many emotions on this day. Most of all, I'm happy you've found someone wonderful to share your life with. Best wishes to you both.</p>
                                    <div class="left_quote"><img src="images/left.png" alt="" class="img-fluid"></div>
                                    <div class="right_quote"><img src="images/right.png" alt="" class="img-fluid"></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="slider_content">
                                    <div class="icon" style="background-image: url(images/papa.png);"></div>
                                    <p class="person_name">Bharatbhai Baraiya</p>
                                    <p>I know I'm not losing a daughter. I'm gaining a son. Much happiness to you.</p>
                                    <div class="left_quote"><img src="images/left.png" alt="" class="img-fluid"></div>
                                    <div class="right_quote"><img src="images/right.png" alt="" class="img-fluid"></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="slider_content">
                                    <div class="icon" style="background-image: url(images/mummy1.png);"></div>
                                    <p class="person_name">Shobhnaben Hirani</p>
                                    <p>I know I'm gaining a daughter. What a wonderful addition to our family. I'm so happy to share in your celebration. Congratulations!</p>
                                    <div class="left_quote"><img src="images/left.png" alt="" class="img-fluid"></div>
                                    <div class="right_quote"><img src="images/right.png" alt="" class="img-fluid"></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="slider_content">
                                    <div class="icon" style="background-image: url(images/papa1.png);"></div>
                                    <p class="person_name">Vithalbhai Hirani</p>
                                    <p>It seems like yesterday we were playing 'house' in the backyard, and now you get to do it in real life. Best wishes on this wonderful journey, as you build your new lives together. Congratulations!</p>
                                    <div class="left_quote"><img src="images/left.png" alt="" class="img-fluid"></div>
                                    <div class="right_quote"><img src="images/right.png" alt="" class="img-fluid"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="fixed_footer">
        <div class="row m-0">
            <div class="col-12 col-md-4 p-0 h-100">
                <p class="great_vibes big_day">Our Big Day</p>
            </div>
            <div class="col-12 col-md-8 p-0 h-100">
                <div class="d-flex counting">

                    <div class="simply-countdown simply-countdown-one"></div>
                </div>
            </div>
        </div>

    </div>
    <!--/Modal-->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/wow.js"></script>
    <!--wow-->
    <script>
        wow = new WOW({
            animateClass: 'animated',
            offset: 100,
            callback: function(box) {
                // console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
            }
        });

        wow.init();
    </script>
    <!--/wow-->

    <!-- custom js-->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/simplyCountdown.js"></script>
    <script src="js/custom.js"></script>

    <script type="text/javascript">
    </script>
</body>

</html>

views/index.pug
doctype html
head
  meta(charset='utf-8')
  meta(name='google-site-verification' content='WtlC2wC-QK9wJ5_UhK4CRPyc6KMNToFS6zXsM0jl5As')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='user-scalable=no, width=device-width')
  meta(name='description' content='')
  meta(name='author' content='')
  title Wedding Invitation - Raj weds Payal
  link(rel='apple-touch-icon' sizes='57x57' href='images/favicon/apple-icon-57x57.png')
  link(rel='apple-touch-icon' sizes='60x60' href='images/favicon/apple-icon-60x60.png')
  link(rel='apple-touch-icon' sizes='72x72' href='images/favicon/apple-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='76x76' href='images/favicon/apple-icon-76x76.png')
  link(rel='apple-touch-icon' sizes='114x114' href='images/favicon/apple-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='120x120' href='images/favicon/apple-icon-120x120.png')
  link(rel='apple-touch-icon' sizes='144x144' href='images/favicon/apple-icon-144x144.png')
  link(rel='apple-touch-icon' sizes='152x152' href='images/favicon/apple-icon-152x152.png')
  link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-icon-180x180.png')
  link(rel='icon' type='image/png' sizes='192x192' href='/android-icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='images/favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='images/favicon/favicon-96x96.png')
  link(rel='icon' type='image/png' sizes='16x16' href='images/favicon/favicon-16x16.png')
  link(rel='manifest' href='images/favicon/manifest.json')
  meta(name='msapplication-TileColor' content='#ffffff')
  meta(name='msapplication-TileImage' content='images/favicon/ms-icon-144x144.png')
  meta(name='theme-color' content='#ffffff')
  // Bootstrap Core CSS
  link(href='css/bootstrap.min.css' rel='stylesheet')
  link(href='css/animated.css' rel='stylesheet')
  link(rel='stylesheet' href='css/owl.carousel.min.css')
  link(rel='stylesheet' href='css/owl.theme.default.min.css')
  // Custom CSS
  link(href='css/style.css' rel='stylesheet')
  link(rel='stylesheet' href='css/font-awesome.min.css')
#load
section#home.banner_section
  .overlay
  .container.h-100vh.d-flex
    .row.align-items-center.w-100
      .col-12.col-sm-6
        .content_part.text-center.wow.fadeInUp
          h1.great_vibes Save The Date
          p.banner_date.algerian
            | 16
            span
            | 02
            span
            | 2020
          .text.pt-2.pb-2
            img.img-fluid(src='images/w_line.png' alt='')
            | We Are Getting Married
            img.img-fluid(src='images/w_line.png' alt='')
          p.groom_bride
            | Raj 
            span
              img.img-fluid(src='images/heart_w.png' alt='')
            |  Payal
nav#mainNav.navbar.navbar-expand-md.sticky-top.wow.fadeInUp
  // Brand
  a.navbar-brand.great_vibes(href='#') Perfect Couple
  // Toggler/collapsibe Button
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
    span.navbar-toggler-icon
  // Navbar links
  #collapsibleNavbar.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#home') Home
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#about_us') About Us
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#event') Event
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#our_story') Our Story
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#gallery') Gallery
section#about_us.intro_sec.padding-top-50.padding-bottom-50
  .container
    .sec_heading.text-center.wow.fadeInUp
      h2 Hello !
      p We invite you to celebrate our wedding
      .heart_line.d-flex.justify-content-center
        span.line1.align-self-center
        img.img-fluid.align-self-center(src='images/heart_p.png' alt='')
        span.line2.align-self-center
    .couple_wrap.position-relative.wow.fadeInUp
      .heart
        img.img-fluid(src='images/heart.png' alt='')
      .row
        .col-md-6.col-12.pr-0
          .content.bride
            .couple_img.d-block.d-md-none
              img.rounded-circle(src='images/payal.png' alt='')
            .couple_desc
              p.name.great_vibes Payal Baraiya
              p.designation Web Designer
              p.study B.E. (CSE)
            .couple_img.d-none.d-md-inline-block
              img.rounded-circle(src='images/payal.png' alt='')
        .col-md-6.col-12.pl-0
          .content.groom
            .couple_img
              img.rounded-circle(src='images/raj.png' alt='')
            .couple_desc
              p.name.great_vibes Raj Hirani
              p.designation Software Developer
              p.study B.E. (CSE)
section#event.event_sec.padding-top-50.padding-bottom-50
  .bg_img.padding-top-50.padding-bottom-50
    .overlay
    .content_part.position-relative
      .container
        .sec_heading.text-center.wow.fadeInUp
          h2.white-text Wedding Events
          p We invite you to celebrate our wedding
          .heart_line.d-flex.justify-content-center
            span.line1.align-self-center
            img.img-fluid.align-self-center(src='images/heart_p.png' alt='')
            span.line2.align-self-center
        .row
          .col-md-4.col-12
            .card.event_card.h-100.wow.fadeInUp
              .card-header.h-100 Welcome Marriage Ceremony
              .card-body
                .date_time
                  .time.mb-3
                    .icon
                      img.img-fluid(src='images/watch.png' alt='')
                    span 4:00 PM to 6:00 PM
                  .date.mb-3
                    .icon
                      img.img-fluid(src='images/calendar.png' alt='')
                    span
                      | 15
                      sup th
                      |  Feb 2020
                p.text-center
                  | The Day before Marriage, will bring all together on special events of Baraiya Family.
          .col-md-4.col-12
            .card.event_card.h-100.wow.fadeInUp
              .card-header.h-100 Celebrate Dandiya Night
              .card-body
                .date_time
                  .time.mb-3
                    .icon
                      img.img-fluid(src='images/watch.png' alt='')
                    span 8:00 PM to 11:00 PM
                  .date.mb-3
                    .icon
                      img.img-fluid(src='images/calendar.png' alt='')
                    span
                      | 15
                      sup th
                      |  Feb 2020
                p.text-center
                  | The Day before Marriage, will bring all together on special events of Baraiya Family.
          .col-md-4.col-12
            .card.event_card.h-100.wow.fadeInUp
              .card-header.h-100 Wedding Ceremony
              .card-body
                .date_time
                  .time.mb-3
                    .icon
                      img.img-fluid(src='images/watch.png' alt='')
                    span 7:00 AM to 2:00 PM
                  .date.mb-3
                    .icon
                      img.img-fluid(src='images/calendar.png' alt='')
                    span
                      | 16
                      sup th
                      |  Feb 2020
                p.text-center
                  | The Day it self will bring all together on special events of Baraiya &amp; Hirani Family.
section#our_story.our_story_sec.padding-bottom-50.padding-top-50
  .container
    .sec_heading.text-center.wow.fadeInUp
      h2 Our Story
      p We love each other, Welcome to our beginning 
      .heart_line.d-flex.justify-content-center
        span.line1.align-self-center
        img.img-fluid.align-self-center(src='images/heart_p.png' alt='')
        span.line2.align-self-center
    .row
      .col-md-12.col-12
        ul.timeline.animate-box.fadeInUp.animated-fast.wow
          li.animate-box.fadeInUp.animated-fast
            .timeline-badge(style='background-image:url(images/1-1.jpg);')
            .timeline-panel
              .timeline-heading
                h3.timeline-title First We Meet
                span.date
                  a(href='https://api.whatsapp.com/send?phone=919429412481&text=I%27m%20interested%20in%20How%20you%20both%20met') To Know the date
              .timeline-body
                p
                  | We remember that first moment we met. The first time we laid eyes on each other. It did not make any sense. It was not love at first sight exactly, but familiarity. But then when things happen with us again and again,
                  | for us, it is all that makes sense...&apos;Our First Meeting&apos;... Nothing else!
          li.timeline-inverted.animate-box.fadeInUp.animated-fast.wow
            .timeline-badge(style='background-image:url(images/1-2.jpg);')
            .timeline-panel
              .timeline-heading
                h3.timeline-title First Date
                span.date
                  a(href='https://api.whatsapp.com/send?phone=919429412481&text=I%27m%20interested%20in%20your%20first%20Date') To Know the date
              .timeline-body
                p
                  | The first day we met, I knew something amazing was about to happen... and it turned into a once in a lifetime kind of love... I feel so blessed to have found you to be part of my journey in this crazy thing called life...
                  | You&apos;re the one I want to start each and every day with, you make my world a more magical place...
          li.animate-box.fadeInUp.animated-fast.wow
            .timeline-badge(style='background-image:url(images/1-3.png);')
            .timeline-panel
              .timeline-heading
                h3.timeline-title In A Relationship
                span.date Augest 17, 2019
              .timeline-body
                p
                  | I can&grave;t believe this is real life! What a dream come true.On Sunday Augest 17th, She asked me to spend the rest of my life with her + made me the happiest boy on the planet! We are in relationship!
section#gallery.memories_sec.padding-bottom-50.padding-top-50
  .bg_light.padding-top-50.padding-bottom-50
    .container
      .sec_heading.text-center.wow.fadeInUp
        h2 Our Memories
        p Enjoy our sweet &amp; happy moments
        .heart_line.d-flex.justify-content-center
          span.line1.align-self-center
          img.img-fluid.align-self-center(src='images/heart_p.png' alt='')
          span.line2.align-self-center
      .row.wow.fadeInUp
        .col-md-3.col-sm-6.col-12
          .img_block
            .bg_img(style='background-image: url(images/1.jpg);')
        .col-md-3.col-sm-6.col-12
          .img_block
            .bg_img(style='background-image: url(images/2.jpg);')
        .col-md-3.col-sm-6.col-12
          .img_block
            .bg_img(style='background-image: url(images/3.jpg);')
        .col-md-3.col-sm-6.col-12
          .img_block
            .bg_img(style='background-image: url(images/4.jpg);')
        .col-md-3.col-sm-6.col-12
          .img_block
            .bg_img(style='background-image: url(images/5.jpg);')
        .col-md-3.col-sm-6.col-12
          .img_block
            .bg_img(style='background-image: url(images/6.jpg);')
        .col-md-3.col-sm-6.col-12
          .img_block
            .bg_img(style='background-image: url(images/7.jpg);')
        .col-md-3.col-sm-6.col-12
          .img_block
            .bg_img(style='background-image: url(images/8.jpg);')
section.family_wish.padding-bottom-50.padding-top-50
  .container
    .sec_heading.text-center.wow.fadeInUp
      h2 Family Wishes
      p Best Wishes
      .heart_line.d-flex.justify-content-center
        span.line1.align-self-center
        img.img-fluid.align-self-center(src='images/heart_p.png' alt='')
        span.line2.align-self-center
    .row.wow.fadeInUp
      .col-md-10.mx-auto
        .slider.text-center
          .owl-carousel.owl-theme.wow.fadeInUp
            .item
              .slider_content
                .icon(style='background-image: url(images/mummy.png);')
                p.person_name Jayshreeben Baraiya
                p
                  | Daughter, I feel many emotions on this day. Most of all, I&apos;m happy you&apos;ve found someone wonderful to share your life with. Best wishes to you both.
                .left_quote
                  img.img-fluid(src='images/left.png' alt='')
                .right_quote
                  img.img-fluid(src='images/right.png' alt='')
            .item
              .slider_content
                .icon(style='background-image: url(images/papa.png);')
                p.person_name Bharatbhai Baraiya
                p I know I&apos;m not losing a daughter. I&apos;m gaining a son. Much happiness to you.
                .left_quote
                  img.img-fluid(src='images/left.png' alt='')
                .right_quote
                  img.img-fluid(src='images/right.png' alt='')
            .item
              .slider_content
                .icon(style='background-image: url(images/mummy1.png);')
                p.person_name Shobhnaben Hirani
                p
                  | I know I&apos;m gaining a daughter. What a wonderful addition to our family. I&apos;m so happy to share in your celebration. Congratulations!
                .left_quote
                  img.img-fluid(src='images/left.png' alt='')
                .right_quote
                  img.img-fluid(src='images/right.png' alt='')
            .item
              .slider_content
                .icon(style='background-image: url(images/papa1.png);')
                p.person_name Vithalbhai Hirani
                p
                  | It seems like yesterday we were playing &apos;house&apos; in the backyard, and now you get to do it in real life. Best wishes on this wonderful journey, as you build your new lives together. Congratulations!
                .left_quote
                  img.img-fluid(src='images/left.png' alt='')
                .right_quote
                  img.img-fluid(src='images/right.png' alt='')
.fixed_footer
  .row.m-0
    .col-12.col-md-4.p-0.h-100
      p.great_vibes.big_day Our Big Day
    .col-12.col-md-8.p-0.h-100
      .d-flex.counting
        .simply-countdown.simply-countdown-one
// /Modal
// jQuery
script(src='js/jquery.js')
// Bootstrap Core JavaScript
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
// Plugin JavaScript
script(src='js/jquery.easing.min.js')
script(src='js/wow.js')
// wow
script.
  wow = new WOW({
  animateClass: 'animated',
  offset: 100,
  callback: function(box) {
  // console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
  }
  });
  wow.init();
// /wow
// custom js
script(src='js/owl.carousel.min.js')
script(src='js/simplyCountdown.js')
script(src='js/custom.js')
script(type='text/javascript').
